$base_font_size: .9em;
$normal_font_size: 1em;
$head_font_size: 1.2em;
$banner_font_size: 28px;
$text_color: #3a3a3a;
$ducati__red: #e20025;
$hard_red: #ff0000;
$footer_background: #0f0f0f;
$footer_color: #666666;
$ducati__gray: #3a3a3a;
$input__border: 1px solid #c0c0c0;
$input__color: #a5a5a5;
