%regular {
    font-family: "PTSansNarrow", serif;
    font-weight: normal;
}

%bold {
    font-family: "PTSansNarrowBold", sans-serif;
    font-weight: bold;
}

%cursor{
    cursor: pointer;
    cursor: url("../../images/cursor_finger.png"), auto;
}
