%container80{
    display: block;
    margin: 0 auto;
    max-width: 80%;
    @include media-breakpoint-down(lg){
        max-width: 1000px;
    }
    @include media-breakpoint-down(md){
        max-width: 100%;
    }

}
